
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<%- include('layouts/navbar'); -%>
<%if(!loggedIn){%>
<h1>Welcome to allsport</h1>
<%}%>
<%if(loggedIn){%>


<h1>Here is your feed</h1>
<%if(post.length != 0){%>
<%for (let i = 0; i < post.length; i++){%>

    <a href="/teams/post/<%= post[i]._id%>">
   <h2><%= post[i].team.teamName%></h2>  <h3><%= post[i].title%></h3>

    <p>
        <%= post[i].description%>
    </p>

<p><small>
        <%= post[i].datePosted%>
    </small></p>
    </a>
<%}%>
<%}%>
<%}%>
</body>

</html>