
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<%- include('layouts/navbar'); -%>
<%if(!loggedIn){%>
<h1>Welcome to allsport</h1>
<%}%>
<%if(loggedIn){%>


<h1>Here is your feed</h1>
<%for (let i = 0; i < teamPost.length; i++){%>

    <a href="/teams/post/<%= teamPost[i]._id%>">
<h2>
   <%= teamPost[i].title%>
</h2>

    <p>
        <%= teamPost[i].description%>
    </p>

<p><small>
        <%= teamPost[i].datePosted%>
    </small></p>
    </a>
<%}%>
<%}%>
</body>

</html>