
<!DOCTYPE html>
<html lang="en">


<body>

<%- include('layouts/navbar'); -%>
<a href="/teams/<%= post.team._id%>">
    <h1><%= post.team.teamName%></h1>
</a>

<h2><%= post.title%></h2>
<p><%= post.description%></p>
<p><small><%= post.datePosted%></small></p>

<%let signedUp = false%>
<%for(let i = 0; i < post.available.length; i++){%>
<%if(post.available[i].id.toString() == user._id){%>
<%signedUp = true%>
<%}%>
<%}%>

<%let notAvailable = false%>
<%for(let i = 0; i < post.notAvailable.length; i++){%>
<%if(post.notAvailable[i].id.toString() == user._id){%>
<% notAvailable = true%>
<%}%>
<%}%>

<%if(signedUp == false){%>
<form action="/teams/post/<%= post.id%>/available" method="POST" enctype="multipart/form-data">
<button type="submit" name="available" value="available">Sign up</button>
</form>
<%}%>

<%if(notAvailable == false){%>
<form action="/teams/post/<%= post.id%>/available" method="POST" enctype="multipart/form-data">
<button type="submit" name="notAvailable" value="notAvailable">Cant come</button>
</form>
<%}%>

<h2>Signed up players: <%= post.available.length%></h2>

<%if(post.available != null){%>
<%for (let i = 0; i < post.available.length ; i ++){%>

    <p><%= post.available[i].username%></p>

<%}%>
<%}%>

<h2>Players not available: <%= post.notAvailable.length%></h2>
<%if(post.notAvailable != null){%>
<%for (let i = 0; i < post.notAvailable.length; i ++){%>

    <p><%= post.notAvailable[i].username%></p>

<%}%>
<%}%>



<%let isLeader = false%>
<%for(let i = 0; i < user.leadership.length; i++){%>
<%if(user.leadership[i].toString() == teams.toString()){%>
<%isLeader = true%>
<%}%>
<%}%>



<%if(isLeader == true){%>
    <h2>Update Post</h2>
    <form action="/teams/post/<%= post.id%>/update" method="POST" enctype="multipart/form-data">

        <p>Title:</p>
        <input type="text"  placeholder="New title" id="updateTitle" name="updateTitle">

        <p>Description:</p>
        <input type="text"   placeholder="New description" id="updateDescription" name="updateDescription">

        <button type="submit">Update post</button>
    </form>

<%}%>







</body>
</html>