<!DOCTYPE html>
<html lang="en">

<body>
<%- include('layouts/navbar'); -%>

<%let isMember = false%>
<%for(let i = 0; i < user.membership.length; i++){%>
<%if(user.membership[i].toString() == teams._id.toString()){%>
<%isMember = true%>
<%}%>
<%}%>

<%let isLeader = false%>
<%for(let i = 0; i < user.leadership.length; i++){%>
<%if(user.leadership[i].toString() == teams._id.toString()){%>
<%isLeader = true%>
<%}%>
<%}%>







<h2>
    Team: <%= teams.teamName%>
</h2>
<h2>
    Sport: <%= teams.sportType%>
</h2>
<h2>
    Description: <%= teams.description%>
</h2>
<h2>
    Our location: <%= teams.location%>
</h2>
<%if(isMember == true){%>
<h2>Leaders:</h2>
<%for(let i = 0; i < teams.leaders.length; i++){%>
    <h2>
        <%= teams.leaders[i].username%>
    </h2>
<%}%>
<%}%>

<%if(isMember == true){%>
<h2>Members:</h2>
<%for(let i = 0; i < teams.members.length; i++){%>
    <h2>
        <%= teams.members[i].username%>
    </h2>
<%}%>
<%}%>



<%if(isLeader == true){%>
    <form action="/teams/newPost/<%= teams._id %>" method="POST" enctype="multipart/form-data">
        <input type="text"  placeholder="Title" id="title" name="title">
        <textarea id="description" name="description" placeholder="Description"></textarea>
        <button type="submit">Post</button>
    </form>
<%}%>





<%if(isMember == true){%>
    <h2>Post</h2>

<%for (let i = 0; i < teamPost.length; i ++){%>
<a href="/teams/post/<%= teamPost[i].id %>">
    <p><%= teamPost[i].title%></p>
</a>
<%}%>
<%}%>





<%if(isMember == false){%>
    <form action="/teams/<%= teams._id %>" method="POST" enctype="multipart/form-data">
        <button type="submit">Join Team</button>
    </form>
<%}%>





</body>
</html>