<!DOCTYPE html>
<html lang="en">

<body>
<%- include('layouts/navbar'); -%>

<%let isMember = false%>
<%for(let i = 0; i < user.membership.length; i++){%>
<%if(user.membership[i]._id.toString() == teams._id.toString()){%>
<%isMember = true%>
<%}%>
<%}%>

<%let isLeader = false%>
<%for(let i = 0; i < user.leadership.length; i++){%>
<%if(user.leadership[i]._id.toString() == teams._id.toString()){%>
<%isLeader = true%>
<%}%>
<%}%>


<h2>
    Team: <%= teams.teamName%>
</h2>
<h2>
    Sport: <%= teams.sportType%>
</h2>
<h2>
    Description: <%= teams.description%>
</h2>
<h2>
    Our location: <%= teams.location%>
</h2>

<h2>
    Level: <%= teams.level%>
</h2>
<%if(isMember == true){%>

<br>

<h2>Leaders:</h2>
<%for(let i = 0; i < teams.leaders.length; i++){%>
    <h2>
        <%= teams.leaders[i].username%>
    </h2>
<%}%>
<%}%>

<br>

<%if(isMember == true){%>
<h2>Members:</h2>
<%for(let i = 0; i < teams.members.length; i++){%>
    <h2>
        <%= teams.members[i].username%>
    </h2>

<%}%>
<%}%>

<br>

<%if(isMember == true){%>
<h2>Posts</h2>

<%for (let i = 0; i < post.length; i ++){%>
    <a href="/teams/post/<%= post[i].id %>">
        <p><%= post[i].title%></p>
    </a>
<%}%>
<%}%>

<br>

<%if(isLeader == true){%>
    <h2>Create a new post:</h2>
    <form action="/teams/newPost/<%= teams._id %>" method="POST" enctype="multipart/form-data">
        <input type="text"  placeholder="Title" id="title" name="title">
        <textarea id="description" name="description" placeholder="Description"></textarea>
        <button type="submit">Post</button>
    </form>

    <br>

    <h2>Update team:</h2>
    <form action="/teams/<%= teams.id%>/update" method="GET" enctype="multipart/form-data">
        <button type="submit">Update team</button>
    </form>

<%}%>


<br>


<%if(isMember == false){%>
    <form action="/teams/<%= teams._id %>" method="POST" enctype="multipart/form-data">
        <button type="submit">Join Team</button>
    </form>
<%}%>

<br>





<%if(isMember == true){%>
    <h2>Quit Team</h2>

    <form action="/teams/<%= teams.id%>/quit" method="POST" enctype="multipart/form-data">
        <input type="password"  placeholder="Enter password" id="quitTeam" name="quitTeam">
        <button type="submit">Quit</button>
    </form>


    <%}%>




</body>
</html>