
<!DOCTYPE html>
<html lang="en">

<body>
<%- include('layouts/navbar'); -%>

<a href="/teams/<%= teams._id%>">
    <h1><%= teams.teamName%></h1>
</a>



    <h2>Update Team</h2>
    <form action="/teams/<%= teams.id%>/update" method="POST" enctype="multipart/form-data">

        <p>Team name:</p>
        <input type="text"  placeholder="Team name" id="updateTeamName" name="updateTeamName">

        <p>Sport:</p>
        <input type="text"   placeholder="Type of sport" id="updateSportType" name="updateSportType">

        <p>Description:</p>
        <textarea id="updateDescription" name="updateDescription" placeholder="Team description"></textarea>

        <p>Location:</p>
        <input type="text"   placeholder="Location" id="updateLocation" name="updateLocation">


        <p>Experience level:</p>
        <input type="radio" id="updateLevel" name="updateLevel" value="beginner">
        <label for="beginner">Beginner / For all</label><br>
        <input type="radio" id="updateLevel" name="updateLevel" value="novice">
        <label for="novice">Novice</label><br>
        <input type="radio" id="updateLevel" name="updateLevel" value="intermediate">
        <label for="level">Intermediate</label><br>
        <input type="radio" id="updateLevel" name="updateLevel" value="advanced">
        <label for="advanced">Advanced</label><br>
        <input type="radio" id="updateLevel" name="updateLevel" value="expert">
        <label for="expert">Expert</label>

        <br>
        <br>

        <button type="submit">Update team</button>
    </form>

    <br>

    <h2>Make leader</h2>
    <form action="/teams/<%= teams.id%>/update" method="POST" enctype="multipart/form-data">
        <input type="text"  placeholder="Username" id="newLeader" name="newLeader">
        <button type="submit">Make leader</button>
    </form>


<br>

    <h2>Delete Team</h2>

    <form action="/teams/<%= teams.id%>/update" method="POST" enctype="multipart/form-data">
        <input type="password"  placeholder="Enter password" id="deleteTeam" name="deleteTeam">
        <button type="submit">Delete</button>
    </form>



</body>
</html>
